@{
    ViewBag.Title = "Home Page";
}


<section id="home" name="home"></section>
<div class="headerwrap">
    <div class="container">
        <div class="col-lg-8">
            <h1 style="font-size:55px; color:white;font-weight:bold">See what opportunities <br />lie ahead...</h1>
            <a href="@Url.Action("Index","OpenPositions")" class="btn btn-default btn-lg active" role="button">Get Started</a>
        </div>
        <div class="col-lg-4">
        </div>

    </div>
    <!-- /container -->
</div>
<!-- /headerwrap -->
<!-- ABOUT SECTION -->
<section id="about" name="about"></section>
<div class="container about">
    <div class="col-lg-6 col-lg-offset-3">
        <h3>About Absolute Bank</h3>
        <h5>Kansas City, Missouri</h5>

        <p>
            "We will be the preferred provider of targeted financial service in our communities based on strong customer relationships. ... Our goal is to create customer loyalty, shareholder value, and employee satisfaction.” <br /> <br />
            - CEO, Rachel Mantei
        </p>
    </div>
    <!-- /col-lg-6 -->
</div>
